%h1 Movies Directed by "#{@movie.director}"

%table#movies
    %thead
        %tr
            %th Movie Title
            %th Rating
            %th Release Date
            %th More Info
    %tbody
        = render :partial => 'movie', :collection => @movies
  